---
import Layout from "@layouts/Layout.astro";
---
<Layout title="Appliance Repair Beverly Hills CA | Same Day Service" description="Expert appliance repair in Beverly Hills. Same day service, all brands. Licensed & insured. Call (323) 870-4790 for fast repair.">
  <meta http-equiv="refresh" content="0;url=/beverly-hills/" />
  <h1>Appliance Repair in Beverly Hills, CA</h1>
</Layout>
