---
import Layout from "@layouts/Layout.astro";
---
<Layout title="Appliance Repair Glassell Park CA | Same Day Service" description="Expert appliance repair in Glassell Park. Same day service, all brands. Licensed & insured. Call (323) 870-4790 for fast repair.">
  <meta http-equiv="refresh" content="0;url=/glassell-park/" />
  <h1>Appliance Repair in Glassell Park, CA</h1>
</Layout>
