---
import Layout from "@layouts/Layout.astro";
---
<Layout title="Appliance Repair Playa Del Rey CA | Same Day Service" description="Expert appliance repair in Playa Del Rey. Same day service, all brands. Licensed & insured. Call (323) 870-4790 for fast repair.">
  <meta http-equiv="refresh" content="0;url=/playa-del-rey/" />
  <h1>Appliance Repair in Playa Del Rey, CA</h1>
</Layout>
