---
import Layout from "@layouts/Layout.astro";
---
<Layout title="Appliance Repair Santa Monica CA | Same Day Service" description="Expert appliance repair in Santa Monica. Same day service, all brands. Licensed & insured. Call (323) 870-4790 for fast repair.">
  <meta http-equiv="refresh" content="0;url=/santa-monica/" />
  <h1>Appliance Repair in Santa Monica, CA</h1>
</Layout>
