---
import "components/css-components/style-btn.css";
---

<div class="full-button-global">

    <div class="button-call-global">
        <a href="/book/">BOOK</a>
      </div>
  <div class="button-call-global">
    <a href="tel:+13238704790">(323) 870-4790</a>
  </div>
</div>
