---
import "css/Offers.css";
import Btn from "@components/btn1.astro";
---
<div class="wrapper">
  <div class="cols">
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(/hvac/residential-air-duct-cleaning-services.webp)">
						<div class="overlay"></div> <!-- Add this line -->
						<div class="inner">
							<h2 style="color:#ffffff; text-transform: uppercase;">Residential Air Duct Cleaning</h2><br>
							<span> Learn More...</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
						  <p style="color:#ffffff;">Breathe cleaner, healthier air—starting today. Our expert residential air duct cleaning removes dust, allergens, and hidden debris that circulate through your home. </p>
						  <Btn />
						</div>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(/hvac/commercial-air-duct-cleaning-services.webp)">
						<div class="overlay"></div> <!-- Add this line -->
						<div class="inner">
							<h2 style="color:#ffffff; text-transform: uppercase;">Commercial Air Duct Cleaning</h2>
							<br>
              <span>Learn More...</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
							<p style="color:#ffffff;">Protect your team with professional commercial air duct cleaning. We help businesses improve indoor air quality, reduce energy costs, and maintain code compliance with fast, reliable service tailored to your facility. </p>
							<Btn />
						</div>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				
				<div class="container">
					<div class="front" style="background-image: url(/hvac/dryer-duct-cleaning-services.webp)">
						<div class="overlay"></div> <!-- Add this line -->
						<div class="inner">
							<h2 style="color:#ffffff; text-transform: uppercase;">Dryer Duct Cleaning</h2>
							<br>
							<span> Learn More...</span>
						</div>
					</div>
				
					<div class="back">
						<div class="inner">
							<p style="color:#ffffff;">Prevent fire hazards and boost dryer performance with expert dryer duct cleaning. Lint buildup in dryer vents is a leading cause of household fires—and it also forces your dryer to work harder, wasting energy. </p>
							<Btn />
						</div>
					</div>
				</div>
			</div>
			
			
			
			


		</div>
 </div>